/* PDF-Optimized Styles for BDC Onboarding Materials using local fonts */

/* Import Tomorrow Font using the font-face rule */
@font-face {
    font-family: 'Tomorrow';
    src: url('../fonts/Tomorrow/Tomorrow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tomorrow';
    src: url('../fonts/Tomorrow/Tomorrow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Tomorrow';
    src: url('../fonts/Tomorrow/Tomorrow-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Tomorrow';
    src: url('../fonts/Tomorrow/Tomorrow-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Tomorrow', sans-serif;
    color: #7C7C7C;
    margin: 0 auto;
    padding: 40px;
    line-height: 1.6;
    background-color: #ffffff;
    font-size: 11pt;
}

.header {
    text-align: center;
    max-width: 800px;
    width: 80%;
    margin: 0 auto 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 5px 1.5px #14F195, 0 -.5px 3px 2px #9945FF;
}

.logo {
    text-align: center;
    margin-bottom: 10px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3 {
    color: #9945FF;
    text-align: center;
}

h1 {
    font-size: 20pt;
    margin-bottom: 20px;
}

h2 {
    font-size: 18pt;
    margin-bottom: 15px;
}

h3 {
    font-size: 16pt;
    margin-bottom: 10px;
}

ul {
    max-width: 800px;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 15px;
    background-color: #F9F9F9;
    border-left: 5px solid #14F195;
    border-radius: 5px;
}

.note, .tagline {
    font-style: italic;
    text-align: center;
    margin-top: 30px;
    color: #14F195;
    background-color: #E6F7EF;
    border-radius: 5px;
    padding: 10pt;
}

.section {
    padding: 20px;
    background-color: #F9F9F9;
    border-left: 5px solid #14F195;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

table {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #F9F9F9;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #E6F7EF;
    color: #9945FF;
    font-weight: 600;
    border-left: 5px solid #14F195;
}

td {
    font-weight: 400;
}

.notes {
    font-size: 12px;
    color: #4A4A4A;
    font-style: italic;
}

.company-details {
    max-width: 800px;
    margin: 0 auto 30px;
    padding: 20px;
    background-color: #F9F9F9;
    border-left: 5px solid #14F195;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.company-details p {
    margin: 10px 0;
    font-weight: 400;
}
